snb:
  cache:
    host: localhost
    prefix: 'app::'
  routes: ::routes.yml
  forms:
    layout: ::forms.layout.twig

database:
  read:
    host: localhost
    port: 3306
    user: root
    password: secret
    database: mydatabase
  write:
    host: localhost
    port: 3306
    user: root
    password: secret
    database: mydatabase
